# CORE VERSIONS
ERPNEXT_VERSION=v15.110.0
FRAPPE_VERSION=v15.110.0
HTTP_PUBLISH_PORT=8080
SITE_NAME={ENTER_SITENAME_HERE}

# DATABASE & REDIS
DB_HOST=db
DB_PORT=3306
REDIS_CACHE=redis-cache:6379
REDIS_QUEUE=redis-queue:6379
REDIS_SOCKETIO=redis-socketio:6379

# PASSWORDS
DB_PASSWORD={ENTER_PASSWORD_HERE}
ADMIN_PASSWORD={ENTER_PASSWORD_HERE}
MARIADB_ROOT_PASSWORD={ENTER_ROOT_PASSWORD_HERE}
